<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Permission</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="icon" href="/icon.svg"/>
</head>
<body>
    <header>
        <%- include ("../partials/adminheader") %>
    </header>
    <h3 class="jumbotron text-center" >Welcome <b><%=user %></b></h3>
    <div class="login-form">
    <form action="/addstudent" method="POST" onsubmit="checkpass()">
        <input type="text" name="user" placeholder="Username" required>
        <div id="image-container">
            <h3>Select Password Images</h3>   
            <% for (var i =1; i <=25;  i++ ) { %>
               <img onclick='add("<%= i %>")' nameid="<%= i %>" style="height: 50px;width:50px;" src="/<%= i %>.png"> 
            <% } %> 
        </div> 
        <input type="hidden" id="pwd" name="pass" value=""/>
        <br>
        <input type="text" name="fname" placeholder="Firstname" required>
        <input type="text" name="lname" placeholder="Lastname" required>
        <input type="text" name="prn" placeholder="PRN" required>
        <select class="form-control" name="class" required>
            <option value=""> Class </option>
                <option value="FY"> First Year</option>
                <option value="SY"> Second Year</option>
                <option value="TY">Third Year</option>
                <option value="Final"> Final Year</option>
            </select><br>
        <select class="form-control" name="dept" required>
            <option value=""> Department </option>
                <option value="CSE"> CSE</option>
                <option value="IT"> IT</option>
                <option value="Electronics">Electronics</option>
                <option value="Electrical"> Electrical</option>
                <option value="Mech"> Mechanical</option>
                <option value="Civil"> Civil</option>
            </select><br>
        <input type="submit">
        </form>

    </div>
    <hr>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>
    <script>
        var gpwd_set = new Set();

        function add(i) {
            var res = i.toString();
            if (gpwd_set.has(res)) {
                console.log('true');
                gpwd_set.delete(res);
            } else {
                gpwd_set.add(res);
            }

            document.getElementById("pwd").setAttribute("value",Array.from(gpwd_set));
        }
        function checkpass() {
            if(gpwd_set.size==0)
            {
                alert("Select Password");
            }
            
        }
    </script>
</body>
</html>
